html{
    background: url(fondo.jpg);
}
nav{
 
    background-color: #0cb8c1b0;
    text-align: center;
  }
  
  nav ul{
     list-style: none;
     display: inline-block;
     
  }
  
  nav ul li{
      float: left;
      margin-top: 5%;
  }
  
  nav ul li a {
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      padding: 1%;
    
  }
  
  nav ul li a:hover{
    background-color: #00a4e4;
  }

body{
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    background-color: #fefefecb;
	width: 1200px;
    
}
header{
	background-color: #00a990e3;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
    
  }
  section{
    border-width: 10px;
	border-color: #535a32;
	border-style: solid ;
  }
  #Titulo{
	
	text-align: center;
	font: oblique bold 100% cursive;
	color: whitesmoke;
   
	
  }
  h2{
    font-family: 'Libre Franklin', sans-serif;
   text-align: center;
    font-size: x-large;
   
}
  h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: x-large;
    background-color: #46b8c1b0;
    border-width: 10px;
	border-color:#537b35;
	border-style: solid;
}
  .cuento{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
	border-width: 10px;
	 border-color:#537b35;
	border-style: solid;
    font-size: 130%;
    white-space: pre-line;
   
  }
  #imagen{
      height: 200px;
      width: 200px;
  }

  .box {
    overflow: hidden;
}

.content {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
}

.left {
    float: left;
    width: 50%;
}


.right {
    float: right;
    width: 50%;
}

#Reseña{
    font-family: 'Montserrat', sans-serif;
	
	border-width: 10px;
	 border-color:#537b35;
	border-style: solid;
	text-align: center;
    font-size: 150%;
   
    

}

#Glosario{
    font-family: 'Montserrat', sans-serif;
    border-width: 10px;
	border-color:#537b35;
	border-style: solid;
	text-align: justify;
    font-size: 120%;
    

}
.Palabra{
	font: oblique bold 110% cursive;
}
footer{
    background-color: #46b8c1b0;
    margin-left: 1.8%;
    margin-right: 1.8%;
	margin-top: 2%;
    margin-bottom: 2%;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
    color: black;
}
#disqus_thread{
    margin-top: 2%;
	margin-left: 1.8%;
    margin-right: 1.8%;
	background-color: ghostwhite;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
}
